# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Provide an overview of Data Science tools and environments
- Create tables using Markdown
- Summarize the Data Science ecosystem

Some of the popular languages that Data Scientists use are:
1) Python
2) R
3) SQL

Some of the commonly used libraries used by Data Scientists include:
1) Numpy
2) Pandas
3) Tensorflow

| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| Rstudio           |
| Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5

17

In [5]:
# This a simple arithmetic expression to mutiply then add integers

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Theo Mathieu